  <h1> This is the real Index Page </h1>
  <ul>
    <% posts.each(function(post){ %>
      <li>
        <ul>
          <li><a href="#" class="post"><%= post.get("title") %></a></li>
          <li><%= post.get("body") %></li>
          <li>
            <button class="delete" data-id="<%= post.get("id") %>">
              Delete
            </button>
          </li>
        </ul>
      </li>

    <% }) %>
  </ul>
  <a href="#" class="render">RERENDER</a>